{{ member_email }} joined {{ organization_name }}

Hi {{ recipient_name }}, {{ member_email }} accepted your invitation and joined
{{ organization_name }} as {{ role }}.

View members:
{{ action_url }}
